section#beauty-article{
    background-color: var(--bg-grey);
    padding: 96px 0px 96px 0px;
}
h2.beauty-article-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2.beauty-article-heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
h2.beauty-article-heading span{
    font-family: var(--heading-font);
    font-size: 26px;
    font-weight: 700;
    color: var(--heading-color);
}
a.btn-view-more{
    background-color: var(--btn-bg);
    border-radius: var(--border-radius-full);
    padding: 6px 20px;
}
div.beauty-article-wrapper{
    font-size: 0px;
}
article.beauty-article-item{
    display: inline-block;
    width: calc((100% - 30px)/2);
    background-color:  var(--dropdown-color);
    border-radius: var(--border-radius-full);
    margin: 0px var(--margin-category-item);
}
article.beauty-article-item:nth-child(1){
    margin-left: 0px;
    margin-bottom: 30px;
}
article.beauty-article-item:nth-child(2){
    margin-bottom: 30px;
    margin-right: 0px;
    
}
article.beauty-article-item:nth-child(3){
    margin-left: 0px;
}
article.beauty-article-item:nth-child(4){
    margin-right: 0px;
}
div.beauty-article-content{
    display: flex;
    align-items: center;
}
img.beauty-article-thumb{
    width: 40%;
    border-radius: var(--border-radius-full) 0px 0px var(--border-radius-full);
}
div.beauty-article-info{
    width: 60%;
    padding: 0px 25px;
}

img.beauty-article-author-avatar{
    width: 58px;
    height: 58px;
    border-radius: 50%;
}
div.beauty-article-meta{
    display: flex;
    align-items: center;
}
a.beauty-article-link{
    font-family: var(--primary-font);
    font-size: 22px;
    font-weight: 700;
    color: var(--heading-color);
}
img.beauty-article-author-avatar{
  margin-right: 10px;
}
p.beauty-article-author-name{
    color: var(--heading-color);
    font-size: 18px;
    font-weight: 500px;
}
span.beauty-article-date{
    color: var(--font-color);
    font-size: 16px;
    font-weight: 400px;
}
h3.beauty-article-title{
    margin-bottom: 16px;
}
